.avatar {
  display: flex;
  padding: 10px;
  justify-items: space-between;
}

.avatar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.created-on {
  color: grey;
  margin-top: -5px;
  font-size: 0.8rem;
}
